*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  color: #000000e2;
}

.header {
  background: #3e5de87d;
  display: flex;
}

.header__img {
  width: 7.5rem;
}